---
import AppLayout from "@/layouts/AppLayout.astro";
import RecipeForm from "@/components/RecipeForm.tsx";
// TODO: Import UserProfileDTO and check if user is authenticated
// TODO: Redirect to login if not authenticated

// const user = Astro.locals.user;

// if (!user) {
//   return Astro.redirect("/signin");
// }
---

<AppLayout title="Dodaj nowy przepis">
  <div class="max-w-4xl mx-auto pb-8">
    <h1 class="text-3xl font-bold mb-6">Dodaj nowy przepis</h1>
    <RecipeForm client:load mode="new" />
  </div>
</AppLayout>
